# Visual Studio cache/options
.vs/

#JetBrains Rider cache/options
.idea/

#Visual Studio backup files
Backup*/
UpgradeLog*.htm

#Build result files
[Oo]bj/

#App settings file
appsettings.json

bin/

# User specific settings from JetBrains Rider
*.DotSettings.user